<section>
    <h1>Welcome to your profile page!</h1>

    <br>

    <article>
        <h2>Profile Details</h2>
        <p><b>First Name:</b> {{firstName}}</p>
        <p><b>Last Name:</b> {{lastName}}</p>
        <p><b>Email:</b> {{email}}</p>
        <p><b>Hashed Password:</b> {{password}}</p>
        <p><b>Phone Number:</b> {{phoneNumber}}</p>
        <p><b>Bio:</b> {{bio}}</p>
        <a href="/users/{{id}}/edit">Edit your profile</a>
    </article>
</section>